<link rel="stylesheet" href="../styles/navbar.css">
<nav>
    <div class="navigation">
        <div class="navbar--container sticky">
            <div class="navbar--title"><h4>navigation</h4></div>
            <div class="navbar--icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        <div class="nav--open close sticky">
            <div class="nav--open-icon"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="nav--open-title">explore</div>
            <div class="nav--open-menu">
                <a href="/">About</a>
                <a href="/scholarship">Schlorships</a>
                <a href="/hackathon">Hackathons</a>
                <a href="/view">Stories</a>
                <a href="/stats">Bridge The Gap</a>
                <a href="/donate">Donate</a>
            </div>
        </div>
    </div>
</nav>