<!-- Icon -->
<link rel="icon" href="../images/icon.png" sizes="35x35" type="image/png">
<!-- include header -->
    <%- include('../include/header.ejs') %>
<!-- /include header -->
<body class="hero-anime"> 
	<%- include('../include/clientNavbar.ejs') %>
   <!-- include header -->
    <%- include('../include/footer.ejs') %>
<!-- /include header -->   
</body>
