<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="She Hacks">

    <!-- Icon -->
    <link rel="icon" href="#" sizes="35x35" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- CSS Linked -->
    <link rel="stylesheet" href="styles/donate.css">

    <title>She Hacks</title>

</head>
   <body>
    <%- include('../include/navbar.ejs') %>
<img src="succc.png" id="bg">
<div class="orgs">
<h1 id="title">Donate to the most trusted organizations and join us in this lead!</h1>
   <p class="title-donate">AnitaBorg.org</p>
   <div class="col-md-12 text-center">
    <a href="https://anitab.org/donate/" class="btn btn-info" role="button">Donate</a>
  </div>
   <p class="title-donate">Black Code Girls</p>
   <div class="col-md-12 text-center">
    <a href="https://donorbox.org/support-black-girls-code" class="btn btn-info" role="button">Donate</a>
  </div>
   <p class="title-donate">Girls in Tech</p>
   <div class="col-md-12 text-center">
    <a href="https://girlsintech.org/donate/" class="btn btn-info" role="button">Donate</a>
  </div>
   <p class="title-donate">Women who CODE</p>
   <div class="col-md-12 text-center">
    <a href="https://www.womenwhocode.com/donate" class="btn btn-info" role="button">Donate</a>
   </div>

</div>

    <!-- Bootsrtap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- JavaScript Linked-->
    <script src="../sripts/navbar.js"></script>

    <!-- Footer-->
    <script src="../scripts/navbar.js"></script> 
</body>
</html>