
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title class="GrpName">Failure</title>
  <!-- Icon -->
  <link rel="icon" href="../images/icon.png" sizes="35x35" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/success.css">
   <link rel="stylesheet" href="./styles/navbar.css">
  <link rel="icon" href="favicon (1).ico">
  <script src="https://kit.fontawesome.com/cf296d7ee2.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
    <div class="navbar--container sticky">
        <div class="navbar--title"><h4>navigation</h4></div>
        <div class="navbar--icon"><i class="fas fa-bars"></i></div>
      </div>
      <div class="nav--open close sticky">
        <div class="nav--open-icon"><i class="fas fa-times"></i></div>
        <div class="nav--open-title">Explore</div>
        <div class="nav--open-menu">
          <a href="/scholarship">Scholarships</a>
          <a href="/hackathon">Hackathons and Contests</a>
          <a href="/stats">Statistics</a>
          <a href="/views">Success Stories</a>
          <a href="/donate">Donate</a>
        </div>
      </div>
    <!-- Navbar -->

    <section id="cta">
      <div class="lov row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h2 class"lov">Oops!!!Something went wrong..</h2>
          <br>
        <h3 class"lov">Please try again or contact the admin!!!</h3>
         <form action="/" method="POST">
          <a href="./signup" class="btn btn-warning" role="button">Try Again</a>
  	     <!-- <button class="btn btn-lg btn-warning">Try Again</button> -->
         </form>
        </div>
      </div>

    </section>

<script src="./scripts/navbar.js"></script>
</body>


</html>
