<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- Icon -->
    <link rel="icon" href="../images/icon.png" sizes="35x35" type="image/png">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="She Hacks">

    <!-- Icon -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS Linked -->
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/Homepage.css">

    <title>She Hacks</title>

</head>
<body>

    <!-- Navigation -->

    <div class="navigation">
        <div class="navbar--container sticky">
            <div class="navbar--title"><h4>navigation</h4></div>
            <div class="navbar--icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        <div class="nav--open close sticky">
            <div class="nav--open-icon"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="nav--open-title">explore</div>
            <div class="nav--open-menu">
                <a href="/">About</a>
                <a href="/scholarship">Schlorships</a>
                <a href="/hackathon">Hackathons</a>
                <a href="/view">Stories</a>
                <a href="/stats">Bridge The Gap</a>
                <a href="/donate">Donate</a>
            </div>
        </div>
    </div>


    <div class="navbar-brand">
        <img class="nav-icon" src="../images/icon(1).png">
        <a>Jagriti</a>
    </div>


    <div id="title">
        <img class="zzzzz" src="../images/fir.png">
    </div>


    <section id="pricing">
        <h2 class="tt1">Start your journey with us!</h2>
        <div class="row card-deck">
            <div class="pricing-col col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Dream</h3>
                    </div>
                    <div class="card-body">
                        <img class="ip" src="../images/i.png">
                    </div>
                </div>
            </div>

            <div class="pricing-col col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Explore</h3>
                    </div>
                    <div class="card-body">
                        <img class="ip" src="../images/ii.png">
                    </div>
                </div>
                <br>
                 <a href="./signup" class="btn btn-info" role="button">Subscribe to Updates</a>
            </div>

            <div class="pricing-col col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Discover</h3>
                    </div>
                    <div class="card-body">
                        <img class="ip" src="../images/iii.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <h2 id="lovee">Our Vision!</h2>
        <h3 class="love">We believe every women "can" .
        Our team aims to reach out to the women community in tech, who are unaware of the amazing opportunities they miss out!</h3>
        <h3 class="love">"Women for Women" can rule the world.</h3>
        <div class="row">
            <div class="fb col-lg-4 col-md-12 col-sm-12 ">
                <i class="icon fas fa-envelope fa-4x"></i>
                <h3 class="tt">Stay Tuned!</h3>
                <p class="tt">This all in one platform keeps you updated of the various hackathons, scholarship and contests specifically meant for women. Subscribe to our newsletter and never miss out an opportunity!</p>
            </div>
            <div class="fb col-lg-4 col-md-12 col-sm-12">
                <i class="icon fab fa-connectdevelop fa-4x"></i>
                <h3 class="tt">Enlighten Yourself!</h3>
                <p class="tt">Want some inspiration ? Check out our stories section and hear other women speak about their journey.Get inspired and find out a better version of yourself.Always remember "You aren't alone". </p>
            </div>
            <div class="fb col-lg-4 col-md-12 col-sm-12">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3 class="tt">Be an Inspiration!</h3>
                <p class="tt">Have something to share? Post your story in our blog section and inspire the world!!! Our program welcomes such inspirational journeys so that others can realte and find their ways to success. </p>
            </div>
        </div>
    </section>


    <!-- Testimonials -->

    <section id="testimonials">
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>Scholarships</h2>
                    <img class="testimonial-image" src="../images/ippp.png" alt="profile">
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">Hackathons and Contests</h2>
                    <img class="testimonial-image" src="../images/i1.png" alt="lady-profile">
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">Statistics</h2>
                    <img class="testimonial-image" src="../images/st.png" alt="lady-profile">
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">Success Stories</h2>
                    <img class="testimonial-image" src="../images/i2.png" alt="lady-profile">
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">Add your story!</h2>
                    <img class="testimonial-image" src="../images/suc.png" alt="lady-profile">
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section id="cta">
        <div class="lov row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class"lov">Your small contribution can help a lot!!! Be a part of charity!</h2>
                <!-- <a type="button" class="btn btn-md btn-dark download-button" href="../images/final.png" download><i class="fab fa-apple"></i> Donate</a>
                <a type="button" class="btn btn-md btn-outline-dark download-button" href="../images/final.png" download><i class="fab fa-google-play"></i> Donate</a> -->
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <a href="" class="ico f fab fa-github"></a>
        <br />
        <p class="foot">Made by team TheyCan</p>
    </footer>


    <!-- Bootsrtap JavaScript -->
    <script src="https://kit.fontawesome.com/cf296d7ee2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <!-- JavaScript Linked-->
    <script src="../scripts/navbar.js"></script>

</body>
</html>
