<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- Icon -->
    <link rel="icon" href="../images/icon.png" sizes="35x35" type="image/png">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="She Hacks">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CSS Linked -->
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/Hackathons.css">

    <title>She Hacks</title>

</head>
<body>

    <!-- Navigation -->

    <div class="navigation">
        <div class="navbar--container sticky">
            <div class="navbar--title"><h4>navigation</h4></div>
            <div class="navbar--icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        <div class="nav--open close sticky">
            <div class="nav--open-icon"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="nav--open-title">explore</div>
            <div class="nav--open-menu">
                <a href="/">About</a>
                <a href="/scholarship">Schlorships</a>
                <a href="/hackathon">Hackathons</a>
                <a href="/view">Stories</a>
                <a href="/stats">Bridge The Gap</a>
                <a href="/donate">Donate</a>
            </div>
        </div>
    </div>

    <!-- Navbar -->
<img id="bg" src="../images/texture.jpg">
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">

        <h5 class="section-title h1">SCHOLARSHIPS AND PROGRAMS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc1.jpg" alt="card image"></p>
                                    <h4 class="card-title">Generation Google Scholarship </h4>
                                    <p class="card-text">(Asia Pacific)</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Details</h4>
                                    <p class="card-text">Eligibility: 1st year or 2nd year female student in a Bachelors program.</br>Selected students will receive $1,000 USD for the 2021-2022 school year. </p>
                                    <a target="_blank" href="https://buildyourfuture.withgoogle.com/scholarships/generation-google-scholarship-apac/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc2.jpeg" alt="card image"></p>
                                    <h4 id="google" class="card-title">Nutanix ♥ heart Women in Technology Scholarships</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   <h4 class="card-title">Details</h4>
                                    <p class="card-text">Eligibility: Full-time female*undergraduate or graduate student during the 2021-2022 school year.</br>Scholarships to help young women develop the skills they need to pursue their passion of computer science.</p>
                                    <a target="_blank" href="https://www.nutanix.com/scholarships" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc3.jpg" alt="card image"></p>
                                    <h4 class="card-title">vGHC Scholarships and Complimentary Registrations</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   <h4 class="card-title">Details</h4>
                                    <p class="card-text">The vGHC Scholars Program provides funds for women who are either undergraduate students, graduate students, or post-doc students, or faculty to attend our Celebration.</p>
                                    <a target="_blank" href="https://ghc.anitab.org/attend/scholarships/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc4.jpg" alt="card image"></p>
                                    <h4 class="card-title">WE Program</h4>
                                    <p class="card-text">by TalentSprint</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   <h4 class="card-title">Details</h4>
                                    <p class="card-text">Eligibility: 1st year B.Tech degree in Computer science.<br>The program that identifies and prepares first year women students
                                        to become globally competitive software engineers.</p>
                                    <a target="_blank" href="https://we.talentsprint.com/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc5.png" alt="card image"></p>
                                    <h4 class="card-title">Fellowship
                                        Program</h4>
                                    <p class="card-text">by DE Shaw & Co</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   <h4 class="card-title">Details</h4>
                                    <p class="card-text">Fellowship programs for students interested in learning from diverse, talented leaders who are at the top of their fields. </p>
                                    <a target="_blank" href="https://fellowships.deshaw.com/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../images/sc7.jpg" alt="card image"></p>
                                    <h4 class="card-title">Adobe Research
                                        Women-in-Technology Scholarshipmp</h4>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   <h4 class="card-title">Details</h4>
                                    <p class="card-text">The Adobe Research Women-in-Technology Scholarship recognizes outstanding female undergraduate and master’s students studying artificial intelligence/machine learning, data science, computer science or mobile/web development <a target="_blank" href="https://research.adobe.com/scholarship/" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
</body>
<script src="../scripts/navbar.js"></script>
</html>
