<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- Icon -->
    <link rel="icon" href="../images/icon.png" sizes="35x35" type="image/png">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="She Hacks">

    <!-- Icon -->
    <link rel="icon" href="#" sizes="35x35" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- CSS Linked -->
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/statistics.css">


    <script>
      window.console = window.console || function(t) {};
    </script>
 
    <script>
      if (document.location.search.match(/type=embed/gi)) 
      {
        window.parent.postMessage("resize", "*");
      }
    </script>

    <title>She Hacks</title>

</head>
<body translate="no">

    <!-- Navigation -->

    <div class="navigation">
        <div class="navbar--container sticky">
            <div class="navbar--title"><h4>navigation</h4></div>
            <div class="navbar--icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
        <div class="nav--open close sticky">
            <div class="nav--open-icon"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="nav--open-title">explore</div>
            <div class="nav--open-menu">
                <a href="/">About</a>
                <a href="/scholarship">Schlorships</a>
                <a href="/hackathon">Hackathons</a>
                <a href="/view">Stories</a>
                <a href="/stats">Bridge The Gap</a>
                <a href="/donate">Donate</a>
            </div>
        </div>
    </div>


    <!-- Hackathons and Contests content -->

    <div class="fake_div">
    
    <h2> Bridge the Gap </h2>
    
    </div>
        <div class="custom-section">
            <div id="progressbar" class="timeline-main">
                <div class="progress-wrap">
                <div class="pogress"></div>
            </div>
            <ul style="list-style-type:none;">
                <li class="adding">
                    <div class="custom-box">
                        <p>In the last 40 years, almost 90% of all information technology licenses were made by male-only teams. Less than 2% of tech teams included women. </p>
                    </div>
                </li>

                <li class="">
                  <div class="custom-box">
                      <p>One out of four jobs held by women in the IT industry, says women in technology statistics 2019.</p>
                  </div>
                </li>
      
                <li class="">
                    <div class="custom-box">
                        <p>20% of engineering graduates are women and only 11 % of working engineers are women.</p>
                    </div>
                </li>

                <li class="">
                    <div class="custom-box">
                        <p>Women in the tech industry earn 29% less than their male counterparts.</p>
                    </div>
                </li>

                <li class="">
                    <div class="custom-box">
                        <p>Women own less than 10% of startups in the world.</p>
                    </div>
                </li>

                <li class="">
                    <div class="custom-box">
                        <p>Netflix is one of the companies that really work on gender equality – 47 % of the employees are women.</p>
                    </div>
                </li>
          </ul>
        </div>
    </div>


    <div class="bottom" style="height:200px;"> </div>


    <!-- Footer 
    <footer id="footer">
        <a href="https://github.com/shruti1421/SheHacks_Team-030"><i class="fa fa-github" style=" font-size:19px; margin: 1% 1% 0.5% 0%;" aria-hidden="true"></i></a>
        <br />
        <p class="foot">Made by team TheyCan</p>
    </footer> -->

    <!-- Bootsrtap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- JavaScript Linked-->
    <script src="../scripts/navbar.js"></script>
     <script src="../scripts/statistics.js"></script>


  

</body>
</html>