@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");

.zzzzz {
padding-left: 300px;
width:100%;
}


#title{
  background-color: #f4f9f9;
}
h3{
  font-family: "Pacifico";
  size: 1.5rem;
}
.icon{
  color: #709fb0;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #28527a;
}
.ico{
  color: #435560;
  margin-bottom: 1rem;
}
.ic{
  color: #ff4c68;
}
#features{
  padding: 7% 15%;
  background-color: #f4f9f9;
}
.anopage{
  background-color: #ff4c68;
  padding-left: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fb{
  text-align: center;
  padding: 5%;
}
.fea{
  color: #8f8f8f;
}
h1{
  font-family: "Pacifico";
  size: 3.5rem;
  line-height: 1.5;
  color: #FFFFFF;
}
.container-fluid{
  padding: 3% 15% 15%;
}
.tt{
  color: #435560;
}
.ip{
  width: 100%;
  padding: 12px;
}
h2{
  font-family: "Pacifico";
  font-size: 3rem;
  line-height: 1.5;
}
.press-logo{
  width: 15%;
  padding: 20px 20px 50px;
}
#press{
  background-color: #ef8172;
  padding-top: 0px;
  padding-bottom: 1%;
  text-align: center;
}
.testimonial-image{
  width: 40%;
  border-radius: 100%;
  margin:10px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 25%;
  padding-right: 95%;
  padding-bottom: 1%;
  padding-top: 1%;
  color: #28527a;
   position: fixed;
    background-color: #b8b5ff;
      z-index:1;
}
.navbar{
  padding-bottom: 65%;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-family: "Montserrat-light";
}
.download-button{
margin:3% 3% 3% 0%;
}
.iphoneimg{
  margin-bottom: 2rem;
  width:100%;
padding-right: 5%;
}
#testimonials{
  text-align: center;
  background-image: url("../images/testimg.png");
  color: #fff;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#cta{
  text-align: center;
  background-image: url("../images/octa.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#lovee{
  color: #435560;
}
.love{
  color: #709fb0;
  margin: auto;
}
.lov{
  padding-top: 55px;
    color: #6e7c7c;
}
.carousel-item{
    padding: 7% 15%;
}
.tt1{
  color: #26001b;
  padding-left: 450px;
}
#pricing{
  background-image: url("../images/plant.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 10px;
  padding: 120px;
}
.pricing-col {
  padding: 3%;
  text-align: center;
}
.lov{
  margin-left: 150px;
  margin-right: 150px;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 100px;
}
#footer{
  background-color: black;
  text-align: center;
  padding: 30px;
}
.f{
  margin: 1% 1% 1% 0%;
}
.foot{
    color: #b8b5ff;
}
.navbar-brand img{
  height:60px;
  width:48px;
  padding-bottom: 6px;
}